<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Cities</title>
</head>
<body>
<h1 class="text-center mb-5">City Manager</h1>

<div class="container">


    <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.city_name.label(class="form-label") }}
            {{ form.city_name(size=32, class="form-control mb-3") }}

            {{ form.country_name.label(class="form-label") }}
            {{ form.country_name(size=32, class="form-control mb-4") }}

            {{ form.number_inhabitants.label(class="form-label") }}
            {{ form.number_inhabitants(class="form-control mb-3") }}

            {{ form.city_area.label(class="form-label") }}
            {{ form.city_area(class="form-control mb-4") }}
            {{ form.add_city(class="btn btn-info") }}

    </form>

</div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>