@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Raleway';
}
html,
body {
  margin: 0;
  padding: 0;
}

.headerTop {
  background-image: url('./images/headerback.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  background-blend-mode: overlay;
  z-index: 1;
}

#image-box_overlay {
  background: rgba(222, 220, 220, 0.5);

  z-index: 2;
}

.img-thumbnail {
  max-width: 100%;
  min-height: 200px;
  height: 200px;
}
