.container-grid {
  margin: 0 auto;
  display: grid;
  width: 40vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 50px);
  grid-gap: 3px 3px;
}

.grid-element {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.header {
  grid-column: span 3;
  background-color: rgb(0, 204, 255);
}
.hero {
  grid-row: span 3;
  background-color: rgb(220, 143, 242);
}
.main-content {
  grid-row: span 4;
  grid-column: span 2;
  background-color: rgb(255, 204, 0);
}
.sidebar {
  grid-row: span 4;
  background-color: rgb(29, 234, 29);
}
.extra-content {
  grid-row: span 3;
  grid-column: span 2;
  background-color: gray;
}
.related-images {
  grid-row: span 2;
  grid-column: span 2;
  background-color: green;
}
.related-posts {
  grid-row: span 2;
  grid-column: auto;
  background-color: rgb(222, 172, 180);
}
.footer {
  grid-column: span 3;
  background-color: orange;
}
