<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{url_for('static', filename='style.css')}}", rel="stylesheet">

    <style>
        {% block style %} {% endblock %}
    </style>

</head>
<body>
<nav>
    <ul>
        <li>
            <a href='blue.html'>blue</a>
        </li>
        <li>
            <a href='red.html'}>red</a>
        </li>
        <li>
            <a href='green.html'>green</a>
        </li>
        <li>
            <a href='yellow.html'>yellow</a>
        </li>
    </ul>
</nav>

    {% block body %}
    {% endblock %}

</body>
</html>