<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{url_for('static', filename='style.css')}}", rel="stylesheet">

    <style>
        {% block style %} {% endblock %}
    </style>

</head>
<body>
<nav>
    <ul>
        <li>
            <a href={{ url_for('color_blue') }}>blue</a>
        </li>
        <li>
            <a href={{ url_for('color_red') }}>red</a>
        </li>
        <li>
            <a href={{ url_for('color_green') }}>green</a>
        </li>
        <li>
            <a href={{ url_for('color_yellow') }}>yellow</a>
        </li>
    </ul>
</nav>

    {% block body %}
    {% endblock %}

</body>
</html>